  // positioning
  // box model
  // typography
  // visual
  // misc

  // General
  *{
    box-sizing: border-box;
  }
body {
  margin: 0;
  font-family: $font-family-sans-serif;
 
}

// header
header{
  // positioning
  position: relative;
  // box model
  display: flex;
  width:100%;
    // typography
  // visual
  background-color: $rpc-aside-bg;
  // misc
}
.header__title{
  // positioning
  // box model
  width: 100%;
  justify-content: center;
  align-items: center;
  margin:auto;
  // typography
  color: $rpc-aside-color;
  text-align: center;
  line-height: 1px;
  // visual
  
  // misc

}
.header__title h1{
  margin-bottom: 1px;
}
.header__title div{
  // positioning
  
  // box model
  display:inline-flex;
    // typography
  // visual
  // misc
}
.line {
    // positioning
    position:relative;
    top:12px;
  // box model
  height: 10px;
  width: 90px;
  // typography
  // visual
  background-color: $rpc-aside-color;
  // misc
 
}

// Side Section

aside{
  // positioning
  position: relative;
  // box model
  padding: 10px;
  // typography
  color: $rpc-aside-color;
  // visual
  background-color: $rpc-aside-bg;
  // misc
}
aside a{
  color:$rpc-aside-color;
}
aside h2{
  // positioning
  position:relative;
  left: -10px;
// box model
width: 100vw;
padding-left: 10px;
// typography
font-size: 20px;
// visual
background-color: $rpc-aside-bg-title;
// misc
}


.imagen__perfil {
    // positioning
  // box model
  display: block;
  width: 100px;
  height: auto;
  margin: 20px;
  // typography
  // visual
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

  // misc

}

// not aside

main section:not(.aside){
  padding: 10px;
}
article p{
  margin: 0;

}
article h3{
  margin-bottom: 0;  
}



