@use "sass:color";

$font-family-sans-serif: Roboto, Arial, sans-serif;
$font-family-serif: "Georgia", "Times New Roman", serif;

$rpc-aside-color: #fff;
$rpc-aside-bg: #023972;
$rpc-aside-bg-title: #002B55;